<div class="calculator">

  <div id="menu_options">
      <div class="row no-gutters">
        <div class="col-6 plr23">
          <span class="plr17">
            <i class="fa fa-bars" aria-hidden="true" id="menu_trigger"></i>
          </span>
        </div>
      </div>
  </div>

  <div id="menu" class="animated d-none"> 
    <div class="row no-gutters">
      <div class="col-12">  
          <ul class="text-center">  
              <li><a href="#/!">Home</a></li>
              <li><a href="javascript:;">About</a></li>
              <li><a href="javascript:;">Services</a></li>
              <li><a href="javascript:;">Contact</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="output">
    <div class="text-center " style="padding-top: 25px">Welcome To <br> Ecom Calculator</div>
  </div>

  <div class="button-field shopping_website" >
    <div class="row no-gutters">
      <div class="col-6">
        <div class="btn btn-amazon btn-block">
          <a href="#!amazon" class="d-block">
            Amazon
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="btn btn-flipkart btn-block">
          Flipkart
        </div>
      </div>
      <div class="col-6">
        <div class="btn btn-snapdeal btn-block">
          Snapdeal
        </div>
      </div>
      <div class="col-6">
        <div class="btn btn-ebay btn-block">
          Ebay
        </div>
      </div>
      <div class="col-6">
        <div class="btn btn-shopclues btn-block">
          Shopclues
        </div>
      </div>
      <div class="col-6">
        <div class="btn btn-paytm btn-block">
          Paytm
        </div>
      </div>
      <div class="col-12">
        <div class=" btn btn-secondary btn-block">
           Want to grow business ?
        </div>
      </div>
    </div> 
  </div>
</div>  